
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nisi pretium, elementum velit vitae, iaculis est.
  Cras mattis lacus in tortor laoreet vehicula. Proin hendrerit sem a elit ultricies, vel venenatis tortor feugiat.
  Donec maximus fringilla sem, quis sodales dolor pharetra in. Aliquam eu nunc vestibulum, fermentum erat eget,
  dapibus ipsum. Curabitur ut augue viverra nunc tristique tempor non molestie purus. Pellentesque luctus augue vel
  arcu faucibus, eu efficitur tortor mollis. Pellentesque sagittis id libero quis suscipit.
</p>
<p>
  Cras vestibulum sodales sodales. Nam viverra nisl vel ex aliquet maximus. Nunc a mauris in tellus lacinia fringilla.
  Cras tempor enim et mollis bibendum. Pellentesque cursus iaculis enim, luctus maximus erat mattis vitae. Duis
  rhoncus tortor vel dui pellentesque pulvinar. Quisque consectetur id nunc quis condimentum. Aliquam tempor, risus ut
  tristique volutpat, ligula ligula vestibulum libero, at dignissim odio nisi at magna. Suspendisse aliquam eu augue
  et consectetur.
</p>
<p>
  Duis a nisi vitae leo auctor blandit. Quisque consequat finibus orci sit amet mattis. Nullam ut vehicula neque, id
  pulvinar purus. Sed et accumsan ligula. Nulla ex magna, posuere id posuere sodales, ornare non nisl. Etiam felis
  augue, dictum vitae ipsum ut, hendrerit suscipit ligula. Integer laoreet accumsan ipsum, fringilla accumsan diam
  suscipit vel. Cras quis augue sem. Phasellus tincidunt nisi metus, ullamcorper maximus elit sollicitudin sit amet.
  Mauris ultricies porttitor enim, ac interdum leo mattis a. Nunc hendrerit maximus arcu in condimentum.
</p>
<p>
  Phasellus tortor massa, pharetra in erat non, congue euismod augue. Phasellus vitae sodales felis, id fringilla
  erat. Nam mollis nulla ac nisl aliquet vehicula. Vivamus pellentesque, tellus eu accumsan posuere, nulla massa
  cursus nisl, in dictum tortor orci vel elit. Mauris sagittis mattis augue et tincidunt. Fusce egestas nec nulla
  vitae rhoncus. Vivamus a consectetur erat. Mauris semper porta tincidunt. Donec a dolor ligula. Praesent consequat
  aliquam leo ut posuere. Phasellus suscipit gravida blandit. Phasellus ut leo ligula.
</p>
<p>
  Morbi dolor eros, porta vitae metus in, congue dignissim lectus. Suspendisse mollis, ante eget egestas vestibulum,
  lorem ante accumsan purus, at interdum ex eros nec eros. Mauris interdum velit sed arcu auctor, nec tincidunt sapien
  tempor. Duis vestibulum eu urna eget volutpat. Vivamus enim diam, euismod eget mi sed, ultricies sagittis leo.
  Quisque ac dolor id nisi rhoncus interdum. Vestibulum consectetur risus ut malesuada dapibus. In sodales arcu id
  felis sollicitudin, eu consectetur dui mattis. Sed ut nisi pretium, suscipit sapien ut, ultrices est.
</p>
<p>
  Morbi sollicitudin mauris non porta blandit. Proin posuere enim nec consequat consectetur. Nam iaculis interdum
  auctor. In rutrum lobortis risus quis consequat. Integer iaculis maximus nunc, id volutpat sapien ullamcorper vel.
  Maecenas dignissim arcu eget maximus faucibus. Duis eget enim in nisi convallis suscipit. Integer lobortis felis
  est, vitae ornare nibh pellentesque efficitur. Integer lacinia magna non velit iaculis, ut feugiat eros placerat.
  Phasellus efficitur massa elementum justo vestibulum mattis. Ut tincidunt et urna ac varius.
</p>
<hr />

<button (click)="modal.show()">Open Modal</button>

<app-modal #modal></app-modal>
